.layaway {
  text-align: center;
  color: $black;
  h1 {
    font-weight: 700;
    color: $gold;
    text-transform: uppercase;
    text-align: center;
    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }
  }
  .btn {
    margin-top: $global-margin;
  }
  &--calendar {
    border:1px solid $black;
    background-color: $gold;
    thead > tr > th {
      border:1px solid $black;
    }
    tbody > tr > td {
      border:1px solid $black;
    }
    thead > tr > th.clear {
        border: none;
        background-color: $white;
    }
    tbody > tr > td.clear {
        border: none;
        background-color: $white;
    }
    caption {
      color: $black;
    }
    &--white {
      background-color: $white;
    }
    &--clear {
      border: none;
      background-color: $white;
      td {
        border: none;
      }
      th {
        border: none;
      }
    }
  }
  &--content-wrapper {
     display: table;
     width: 100%;
     height: 100%;
  }
  &--content-inner {
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      color: $black;
      padding-left: $global-padding;
      padding-right: $global-padding;
  }
  &--content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &--square {
    background-size: cover;
    position: relative;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  &__block1 {
    .layaway--square {
      background-image: none;
      @include media-breakpoint-up(md) {
        &:before {
          padding-top: 80%;
        }
      }
    }
    li {
      font-size: $h2-font-size;
      text-align: left;
    }
  }
}
