{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Buy Gold and other Precious Metals via small, monthly installments and improve your Credit Score at the same time." context "Homepage title" %}</h1>   
                <br>
                <h2>{% trans "Each payment you make is reported to the several Credit Bureaus. Can’t make a payment? No problem. Take a month off!" context "Homepage title" %}</h2>  
                  <a class="btn btn-secondary home__button" href="page/about">
                  {% trans "Learn More" context "Homepage action" %}
                  </a>
                  <br>
                  <a class="btn btn-secondary home__button" href="layaway">
                  {% trans "layaway Example" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Layaway products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
